.cabecalho__botao {
    background: #36362a;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 1rem 0;
    transition: 500ms;
    width: 10em;
}

.cabecalho__botao:hover {
    background: black;
    transform: scale(1.2);
}

.cabecalho__botao:active {
    background: grey;
}

@media screen and (min-width: 0) {
    .cabecalho__botao {
        margin: 1rem;
    }
}

@media screen and (min-width: 640px) {
    .cabecalho__botao {
        margin: 0;
    }
}