.principal__conteudo-botao-zerar {
    background: #cd2b42;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1em;
    padding: 0.7em 0;
    transition: 500ms;
    width: 10em;
}

.principal__conteudo-botao-zerar:hover {
    opacity: 0.7;
}

.principal__conteudo-botao-zerar:active {
    background: #cd2b42;
}

@media screen and (min-width: 0) {
    .principal__conteudo-botao-zerar {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 640px) {
    .principal__conteudo-botao-zerar {
        margin-top: 0;
    }
}