.principal__conteudo-botao-chutar {
    background: #cd2b42;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 0.7em;
    padding: 0.7em 0;
    transition: 500ms;
    width: 10em;
}

.principal__conteudo-botao-chutar:hover {
    opacity: 0.7;
}

.principal__conteudo-botao-chutar:active {
    background: #cd2b42;
}