.principal {
    background: url(https://media.istockphoto.com/vectors/seamless-pattern-with-human-or-zombie-brains-vector-id1204027911?k=20&m=1204027911&s=170667a&w=0&h=itpJYjqUvwmBnWcYvyFZOgR2ma3kwEdFgHUHCtKHtD4=);    
    padding: 2em 0;
}

.dark .principal {
    background: #2f2f2f;
}

