.principal__conteudo-botao-jogar {
    background: #36362a;
    border-radius: 10px;
    border: 0;
    color: white;
    font-size: 0.7em;
    padding: 0.7em 0;
    transition: 500ms;
    width: 10em;
}

.principal__conteudo-botao-jogar:hover, .dark .principal__conteudo-botao-jogar:hover {
    opacity: 0.7;
}

.dark .principal__conteudo-botao-jogar {
    background: black;
}
