.principal__conteudo-botao-zerar {
    background: #f1667c;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 1em;
    padding: 0.7em 0;
    transition: 1s;
    width: 10em;
}

.principal__conteudo-botao-zerar:hover {
    background: #eb4d65;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.301);
    transform: scale(1.1);
}

@media screen and (min-width: 0) {
    .principal__conteudo-botao-zerar {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 640px) {
    .principal__conteudo-botao-zerar {
        margin-top: 0;
    }
}